@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Inter, sans-serif;
}

.active {
	color: #FF444A !important;
	background-color: transparent !important;
	text-decoration: underline;
	font-weight: 600;
}
